@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

/* Variables */

:root {
    --main-color: #121212;
    --desc-color: #A5A5A5;
    --placeholder: #787878;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    background-color: var(--main-color);
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

/* Layout + Typography */

header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    padding: 5em 2.8125em;
    margin-bottom: 3.8125em;
    background: url(../images/main-banner.png) center / cover no-repeat;

    color: #fff;
}

.header-heading {
    font-size: 2.625rem;
    font-weight: 800;
}

.header-link {
    margin-top: 0.36em;

    font-size: 0.875rem;
    font-weight: 700;
}

form#search-form {
    position: absolute;
    bottom: -8%;
    left: 9%;
    right: 9%;
}

.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #2E2E2F;
    border-radius: 6px;
    padding-left: 0.9375em;
}

.search-wrapper i {
    margin-right: 0.857em;

    color: #9CA3AF;
}

.search-wrapper input#search-bar, .search-wrapper button[type=submit] {
    border: none;

    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
}

.search-wrapper input#search-bar {
    width: 70%;
    background-color: #2E2E2F;
}

.search-wrapper input#search-bar::placeholder {
    color: var(--desc-color);
}

.search-wrapper input#search-bar:focus {
    outline: none;
}

form#search-form button[type=submit] {
    width: 30%;
    background-color: #4B4B4B;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    padding: 0.64em;
}

main, .movie-list-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    padding: 0 2.8125em;
    align-items: flex-start;
}

.movie-list-placeholder {
    color: #2E2E2F;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.movie, .movie-rating-wrapper, .movie-info-wrapper {
    display: flex;
    margin-bottom: 0.5em;
}

.movie {
    width: 100%;
    align-items: center;
    border-bottom: 1.5px solid #2C2C2C;
    padding-bottom: 1.25em;
    margin-bottom: 1.5625em;

    color: #fff;
}

.movie-banner {
    max-width: 99px;
    max-height: 147px;
    border-radius: 5px;
    margin-right: 1.25em;
    object-fit: contain;
}

.movie-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-rating-wrapper {
    align-items: baseline;
}

.movie-name, .movie-rating-wrapper i {
    margin-right: 0.25em;
}

.movie-name {
    font-size: 1.125rem;
    font-weight: 500;
}

.movie-rating-wrapper i {
    color: #FEC654;
}

.rating-score {
    font-size: 0.75em;
}

.movie-info-wrapper, .movie-info-wrapper button {
    font-size: 0.75rem;
}

.movie-info-wrapper {
    align-items: center;
    gap: 1.125em;
}

.movie-watchlist-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    color: #fff;
}

.movie-watchlist-btn i {
    margin-right: 0.42em;
}

.movie-desc {
    padding-right: 3em;

    color: var(--desc-color);
    font-size: 0.75em;
}

.not-found-placeholder{
    max-width: 60%;
}

/* watchlist.html */

.watchlist-header {
    margin-bottom: 2.1875em;
}

.watchlist-placeholder{
    margin-bottom: 0.9375em;
}

.watchlist-placeholder p {
    font-size: 1.125rem;
}

.watchlist-link {
    display: flex;
    align-items: center;
}

.watchlist-link i {
    margin-right: 0.4375em;
}

.watchlist-link p {
    font-size: 0.875rem;
}


/* Utility */

.fill {
    flex: 1 1 auto;
    align-items: center;
}

.white-border {
    border-color: #E5E7EB;
}

.placeholder {
    color: var(--placeholder);
}
